<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangnengyongyao.drug.dao.DrugSellerOrderGoodsMapper">
  <resultMap id="BaseResultMap" type="com.wangnengyongyao.drug.model.DrugSellerOrderGoods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="comp_id" jdbcType="BIGINT" property="compId" />
    <result column="drug_id" jdbcType="INTEGER" property="drugId" />
    <result column="drug_name" jdbcType="VARCHAR" property="drugName" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="specifications" jdbcType="VARCHAR" property="specifications" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
  </resultMap>
  <sql id="Base_Column_List">
    id, comp_id, drug_id, drug_name, unit_price, specifications, quantity, manufacturer
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_seller_order_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from drug_seller_order_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wangnengyongyao.drug.model.DrugSellerOrderGoods">
    insert into drug_seller_order_goods (id, comp_id, drug_id, 
      drug_name, unit_price, specifications, 
      quantity, manufacturer)
    values (#{id,jdbcType=INTEGER}, #{compId,jdbcType=BIGINT}, #{drugId,jdbcType=INTEGER}, 
      #{drugName,jdbcType=VARCHAR}, #{unitPrice,jdbcType=DECIMAL}, #{specifications,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=INTEGER}, #{manufacturer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wangnengyongyao.drug.model.DrugSellerOrderGoods">
    insert into drug_seller_order_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="compId != null">
        comp_id,
      </if>
      <if test="drugId != null">
        drug_id,
      </if>
      <if test="drugName != null">
        drug_name,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="specifications != null">
        specifications,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="manufacturer != null">
        manufacturer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=BIGINT},
      </if>
      <if test="drugId != null">
        #{drugId,jdbcType=INTEGER},
      </if>
      <if test="drugName != null">
        #{drugName,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="specifications != null">
        #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangnengyongyao.drug.model.DrugSellerOrderGoods">
    update drug_seller_order_goods
    <set>
      <if test="compId != null">
        comp_id = #{compId,jdbcType=BIGINT},
      </if>
      <if test="drugId != null">
        drug_id = #{drugId,jdbcType=INTEGER},
      </if>
      <if test="drugName != null">
        drug_name = #{drugName,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        unit_price = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="specifications != null">
        specifications = #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangnengyongyao.drug.model.DrugSellerOrderGoods">
    update drug_seller_order_goods
    set comp_id = #{compId,jdbcType=BIGINT},
      drug_id = #{drugId,jdbcType=INTEGER},
      drug_name = #{drugName,jdbcType=VARCHAR},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      specifications = #{specifications,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      manufacturer = #{manufacturer,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.wangnengyongyao.drug.model.DrugSellerOrderGoods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="comp_id" jdbcType="BIGINT" property="compId" />
    <result column="drug_id" jdbcType="INTEGER" property="drugId" />
    <result column="drug_name" jdbcType="VARCHAR" property="drugName" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="specifications" jdbcType="VARCHAR" property="specifications" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
  </resultMap>
  <sql id="Base_Column_List">
    id, comp_id, drug_id, drug_name, unit_price, specifications, quantity, manufacturer
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_seller_order_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from drug_seller_order_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wangnengyongyao.drug.model.DrugSellerOrderGoods">
    insert into drug_seller_order_goods (id, comp_id, drug_id, 
      drug_name, unit_price, specifications, 
      quantity, manufacturer)
    values (#{id,jdbcType=INTEGER}, #{compId,jdbcType=BIGINT}, #{drugId,jdbcType=INTEGER}, 
      #{drugName,jdbcType=VARCHAR}, #{unitPrice,jdbcType=DECIMAL}, #{specifications,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=INTEGER}, #{manufacturer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wangnengyongyao.drug.model.DrugSellerOrderGoods">
    insert into drug_seller_order_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="compId != null">
        comp_id,
      </if>
      <if test="drugId != null">
        drug_id,
      </if>
      <if test="drugName != null">
        drug_name,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="specifications != null">
        specifications,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="manufacturer != null">
        manufacturer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=BIGINT},
      </if>
      <if test="drugId != null">
        #{drugId,jdbcType=INTEGER},
      </if>
      <if test="drugName != null">
        #{drugName,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="specifications != null">
        #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangnengyongyao.drug.model.DrugSellerOrderGoods">
    update drug_seller_order_goods
    <set>
      <if test="compId != null">
        comp_id = #{compId,jdbcType=BIGINT},
      </if>
      <if test="drugId != null">
        drug_id = #{drugId,jdbcType=INTEGER},
      </if>
      <if test="drugName != null">
        drug_name = #{drugName,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        unit_price = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="specifications != null">
        specifications = #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangnengyongyao.drug.model.DrugSellerOrderGoods">
    update drug_seller_order_goods
    set comp_id = #{compId,jdbcType=BIGINT},
      drug_id = #{drugId,jdbcType=INTEGER},
      drug_name = #{drugName,jdbcType=VARCHAR},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      specifications = #{specifications,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      manufacturer = #{manufacturer,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>